body{
    background-color: #1B1B32;
    color: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding:0;
}

#fname{
    background-color: #1B1B32;

}
